* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input, button {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url("https://naukawpolsce.pl/sites/default/files/styles/strona_glowna_slider_750x420/public/201710/12075076_12075019.jpg?itok=oOkJjAdS");
}

input, button {
  font-size: 16px;
}

.head_bar {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: khaki;
  color: black;
}

main {
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  padding: 16px;

}

.input_section {
  background-color: rgba(240, 230, 140, 0.7);
  display: flex;
  backdrop-filter: blur(10px);
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

.input_section > h2 {
  text-align: center;
  color: black;
}

.input_section > form > .input {
  margin: 8px 0;
}

.input_section > form > button {
  background-color: black;
  color: white;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.input_section > form > button > span {
  font-weight: bold;
}

.input_section > form > .input > input {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 5px;
}


.input_section > form > .input > label {
  color: black;
  font-weight: bold;
}

.input_section > form > .input_inline {
  margin: 12px 0;
  display: flex;
  align-items: center;
}

.input_section > form > .input_inline > label {
  color: black;
  font-weight: bold;
  margin-right: 10px;
}

.search_section {
  background-color: rgba(240, 230, 140, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 16px 0 0 0;
}

.search_section>h2 {
  text-align: center;
  color: black;
}

.search_section>form>.input {
  margin: 8px 0;
}

.search_section>form>.input>input {
  display: block;
  width: 100%;
  padding: 12px 20px 12px 40px;
  border-radius: 5px;
  background-position: 10px 12px;
  background-repeat: no-repeat;
}

.search_section>form>button {
  background-color: black;
  color: khaki;
  border: 0;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.book_shelf {
  background-color: rgba(240, 230, 140, 0.7);
  backdrop-filter: blur(10px);
  margin: 16px 0 0 0;
  border: 1px solid black;
  padding: 16px;
  border-radius: 10px;
}

.book_shelf > h2 {
  color: black;
}

.book_shelf > .book_list {
  padding: 16px;
}

.book_shelf > .book_list > .book_item {
  background-color: white;
  padding: 8px 16px 16px 16px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
  margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
  border: 0;
  padding: 5px;
  margin: 0 5px 0 0;
  border-radius: 5px;
  cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
  background-color: darkgreen;
  color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
  background-color: darkred;
  color: white;
}

footer {
  padding: 12px;
  color: black;
  background-color: khaki;
  text-align: center;
  font-weight: bold;
}